.investment-block {

	.block-editor-media-placeholder {
		margin-bottom: 8px;
	}

	.block-editor-logo-preview {
		margin-bottom: 8px;

		span {
			display: block;
			font-size: 12px;
			font-weight: 500;
			margin-bottom: 8px;
			text-transform: uppercase;
		}

		.logo-content {
			align-content: center;
			border: 1px solid #949494;
			display: flex;
			justify-content: space-between;
			padding: 20px;
		}
	}
}
