.investment-block-wrapper {

	.block-editor-media-placeholder {
		margin-bottom: 8px;
	}

	.block-editor-logo-preview {
		margin-bottom: 8px;

		span {
			display: block;
			font-size: 12px;
			font-weight: 500;
			margin-bottom: 8px;
			text-transform: uppercase;
		}

		.logo-content {
			align-items: center;
			border: 1px solid #949494;
			display: flex;
			justify-content: space-between;
			padding: 20px;
		}
	} // .block-editor-logo-preview

	.investment-details .components-base-control__field {
		align-items: center;
		display: flex;

		label {
			margin-bottom: 0;
			width: 100px;
		}

		.components-text-control__input {
			width: calc(100% - 100px);
		}
	} // .investment-details .components-base-control__field
} // .investment-block-wrapper
