.wp-block-cfig-custom-filterable-investments-gallery {
	display: flex;
	flex-direction: column;
	max-width: 100%;

	@media (min-width: 680px) {
		flex-direction: row;
		max-width: 100% !important;
	}

	@media (min-width: 1100px) {
		width: 1100px;
	}

	// Reset block lists.
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	// Term filter container.
	.filter-bar {
		padding-bottom: 2rem;
		width: 100%;

		@media (min-width: 650px) {
			width: 25%;
		}

		.filter-item {
			line-height: 1.3rem;
			padding-bottom: 1rem;
		}

		.active {
			color: #2c7e83;
		}
	}

	// Card container
	.gallery-cards {
		display: grid;
		gap: 2rem;
		max-width: 100%;
		width: 100%;

		@media (min-width: 680px) {
			grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); // Images are 200px.
			padding: 0 1.5rem;
			width: 75%;
		}
	}

	// Single card.
	.investment-card {
		animation: fadeIn 0.5s ease;
		border: 1px solid #949494;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		max-width: 100%;
		min-height: 400px;
		padding: 1rem;

		@media (min-width: 680px) {
			max-width: 220px;
		}

		.investment-logo {
			text-align: center;

			img {
				height: auto;
				max-width: 200px;
				margin: 0 auto;
			}
		} // .investment-logo

		.investment-detail {
			align-items: baseline;
			border-bottom: 1px solid #efefef;
			display: flex;
			padding: 0.5rem 0;

			strong {
				font-size: 0.8rem;
				width: 100px;
			}

			span {
				display: inline-block;
				font-size: 1rem;
				line-height: 1.3rem;
				width: calc(100% - 100px);
			}

			@media (min-width: 400px) {
				strong {
					width: 80px;
				}

				span {
					width: calc(100% - 80px);
				}
			}
		} // .investment-detail

		li:last-of-type .investment-detail {
			border-bottom: 0;
		}

		&.hidden {
			display: none;
		}

		@keyframes fadeIn {
			0%{
				opacity: 0;
			}
			100%{
				opacity: 1;
			}
		}
	} // .investment-card
} // .wp-block-cfig-custom-filterable-investments-gallery