.wp-block-cfig-custom-filterable-investments-gallery:not(.wp-block) {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, auto);
	max-width: 100%;

	// TODO update these with theme
	@media (min-width: 680px) {
		grid-template-columns: 220px 1fr;
		grid-template-rows: 1fr;
		max-width: 100%;
		width: calc(100% - 220px);
	}

	@media (min-width: 1100px) {
		width: 1100px;
	}

	// Reset block lists.
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	// Term filter container.
	.filter-bar {
		padding-bottom: 2rem;
		width: 100%;

		@media (min-width: 680px) {
			width: 220px;
		}

		// List on large views.
		.filter-items-list {
			display: none;

			@media (min-width: 680px) {
				display: block;
			}

			.filter-item {
				line-height: 1.3rem;
				padding-bottom: 1rem;
			}

			.active {
				color: #2c7e83;
			}
		}

		// Custom select for small views
		// Select wrapper
		.filter-items-select {
			position: relative;
			display: flex;
			width: 20rem;
			height: 3rem;
			border-radius: 0.25rem;
			overflow: hidden;

			@media (min-width: 680px) {
				display: none;
			}
		}

		// Down arrow
		.filter-items-select::after {
			content: '\25BC';
			color: #fff;
			position: absolute;
			top: 0;
			right: 0;
			padding: 0.8rem;
			background-color: #34495e;
			transition: 0.25s all ease;
			pointer-events: none;
		}

		select {
			// Reset select.
			appearance: none;
			outline: 10px red;
			border: 0;
			box-shadow: none;
			// New styles.
			flex: 1;
			padding: 0 1rem;
			color: #fff;
			background-color: #2c3e50;
			background-image: none;
			cursor: pointer;
		}
		// Remove IE arrow
		select::-ms-expand {
			display: none;
		}
	} // .filter-bar

	// Card container
	.gallery-cards {
		display: grid;
		gap: 2rem;
		max-width: 100%;

		@media (min-width: 680px) {
			grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); // Images are 200px.
			padding: 0 1.5rem;
		}
	}

	// Single card.
	.investment-card {
		animation: scaleIn 0.3s ease;
		background-color: #fff;
		border: 1px solid #949494;
		box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		max-width: 100%;
		min-height: 400px;
		padding: 1rem;

		@media (min-width: 680px) {
			max-width: 220px;
		}

		.investment-logo {
			align-items: center;
			display: flex;
			justify-content: center;
			height: 100%;

			img {
				height: auto;
				max-width: 200px;
				margin: 0 auto;
			}
		} // .investment-logo

		.investment-detail {
			align-items: baseline;
			border-bottom: 1px solid #efefef;
			display: flex;
			padding: 0.5rem 0;

			strong {
				font-size: 0.8rem;
				width: 100px;
			}

			span {
				display: inline-block;
				font-size: 1rem;
				line-height: 1.3rem;
				width: calc(100% - 100px);
			}

			@media (min-width: 400px) {
				strong {
					width: 80px;
				}

				span {
					width: calc(100% - 80px);
				}
			}
		} // .investment-detail

		li:last-of-type .investment-detail {
			border-bottom: 0;
		}

		&.hidden {
			display: none;
		}

		@keyframes scaleIn {
			0% {
				transform: scale(0);
			}
			100% {
				transform: scale(1);
			}
		}
	} // .investment-card
} // .wp-block-cfig-custom-filterable-investments-gallery